/* ../../blocks/b-page/b-page.css begin */
.b-page
{
    font: 17px Arial, Helvetica, sans-serif;

    position: relative;

    width: 100%;
    min-width: 600px;
    min-height: 360px;
    margin: 0;
    padding: 0;

    color: #111;
    background: #eee;
}


/* ../../blocks/b-page/b-page.css end */

/* ../../bem-bl/blocks-desktop/b-layout-table/b-layout-table.css begin */
.b-layout-table
{
    font-size: 100%;

    width: 100%;

    border-collapse: collapse;
}

.b-layout-table__gap,
.b-layout-table__cell
{
    padding: 0;

    vertical-align: top;
}

/* ../../bem-bl/blocks-desktop/b-layout-table/b-layout-table.css end */

/* ../../blocks/b-layout-table/b-layout-table.css begin */
.b-layout-table
{
  width: 900px;
  margin: 0px auto;
  padding: 80px 8px;
  background-color: #fefefe;
}

.b-layout-table_layout_58-40 .b-layout-table__cell
{
    width: 400px;
    padding: 18px 0;
    text-align: left;
}

.b-layout-table_layout_58-40 .b-layout-table__gap
{
    width: 30px;
}

.b-layout-table_layout_58-40 .b-layout-table__inner
{
    margin-right: 0.8em;
}

/* ../../blocks/b-layout-table/b-layout-table.css end */

/* ../../blocks/b-qa/b-qa.css begin */
.b-qa__qas
{
  display: inline;
}

/* ../../blocks/b-qa/b-qa.css end */

